html {
  height:100%;
  width:100%;
}

body {
  font-family: 'HelveticaNeue-Light', sans-serif;
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  background-color: #f6f6f6;
}

.container {
  display:flex;
  margin:auto;
  justify-content:center;
}


.thumbnail {
  height:120px;
  width:120px;
}

.description {
  border: #666666 dashed 2px;
  background-color: #FBFBFB;
  padding-right:20px; 
  padding-left:20px;
  width:300px;
  height:120px;
}

.description h1 {
  font-size: 20px;
  color:#666666;
}

.description p {
  font-size: 13px;
  color:#969696;
}

.a {
  margin:auto;
}