<!DOCTYPE html>

{% load static %}

<html lang="en">

	<head>
		 <meta charset="utf-8">
   		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  		  <meta name="viewport" content="width=device-width, initial-scale=1">
   		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Iris</title>
        <link rel="stylesheet" type="text/css" href="{% static "aboutme/main.css" %}" />
        <link href="{% static "aboutme/css/bootstrap.min.css" %}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static "aboutme/imgs/favicon-32x32.png" %}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{% static "aboutme/imgs/favicon-16x16.png" %}" sizes="16x16" />

	</head>

	<body>
		<div class = "box1">
			<div class = "circular"></div>
			<div class = "nav">
				<ul>
					<li><a href = "/about">About</a></li>
					<li><a href = "/resume">Resume</a></li>
					<li><a href = "/connect">Connect</a></li>
				</ul>
			</div>
		</div>
		<div class = "box2">
			<div class = "content">
				<h1>About</h1>
				<p><span class = "first-word">Hello, </span>my name is Iris Shao and I am a current senior concentrating in Applied Mathematics-Biology at Brown University. Post-graduation, I want to apply my passion for data-driven analysis to my interests in the rise of the digital convergence. Through my <a href = "/resume">varied background</a>, I have amassed the necessary skills for a role that helps shape the frontier of therapeutic experiences through improved user interfaces, patient-derived data, and value-determining analytics.</p>
				<p>This past summer, I interned at Decision Resources Group Consulting, a boutique firm that worked exclusively in the biotechnology, pharmaceutical, and medical devices industries. Not only was I exposed a variety of projects, but I also worked on generating an internal presentation analyzing upcoming industry trends with several senior executives, specifically covering the implications of data liberation for predictive analytics, patient engagement, and mHealth devices.</p>
				<p>I am excited to continue my involvement in this niche, but growing market, and look forward to contributing my skills and enthusiasm to a full-time position.</p>
				<p>Let's connect,</p>
				<p>S. Iris<p>
			</div>
		</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'aboutme/js/bootstrap.min.js'}"></script>
	</body>

</html>