<!DOCTYPE html>

{% load static %}

<html lang="en">

	<head>
		 <meta charset="utf-8">
   		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  		  <meta name="viewport" content="width=device-width, initial-scale=1">
   		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Iris</title>
        <link rel="stylesheet" type="text/css" href="{% static "aboutme/index.css" %}" />
        <link href="{% static "aboutme/css/bootstrap.min.css" %}" rel="stylesheet">

	</head>

	<body>
		<div class = "container">
			<div class = "description">
				<h1>Hello, my name is Iris.</h1>
				<p>I'm a senior at Brown University studying Applied Mathematics-Biology with a passion for problem solving and strategic planning. <a class = "click" href="/aboutme_app/about">Let's connect.</a></p>
			</div>
			<div class = "thumbnail">
				<img src = "{% static "aboutme/imgs/iris3.jpeg" %}" alt = "Iris" />
			</div>
		</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'aboutme/js/bootstrap.min.js' %}"></script>
	</body>

</html>