body {
  font-family: 'HelveticaNeue-Light', sans-serif;
  vertical-align: middle;
  border: red solid 3px;
}

.thumbnail {
  width: 175px;
  height:175px;
  border: red solid 3px;

}

.intro {
    border: red solid 3px;
}

.intro h1 {
  font-size: 28px;
  color:#666666;
  border: red solid 3px;

}

.intro p {
  font-size: 18px;
  color:#CCCCCC;
  border: red solid 3px;

}

.description {
  border: red solid 3px;
}