<!DOCTYPE html>

{% load static %}

<html lang="en">

	<head>
		 <meta charset="utf-8">
   		 <meta http-equiv="X-UA-Compatible" content="IE=edge">
  		  <meta name="viewport" content="width=device-width, initial-scale=1">
   		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Iris</title>
        <link rel="stylesheet" type="text/css" href="{% static "aboutme/main.css" %}" />
        <link href="{% static "aboutme/css/bootstrap.min.css" %}" rel="stylesheet">

	</head>

	<body>
		<div class = "box1">
			<div class = "circular"></div>
			<div class = "nav">
				<ul>
					<li><a href = "/aboutme_app/about">About</a></li>
					<li><a href = "/aboutme_app/resume">Resume</a></li>
					<li><a href = "/aboutme_app/connect">Connect</a></li>
				</ul>
			</div>
		</div>
		<div class = "box2">
			<div class = "content">
				<h1>About</h1>
				<p>I once met someone who was on Family Feud and it made me realize most people revel in knowing what the masses know—after all, we’ve created television game shows dedicated to promoting and rewarding mainstream thinking, testing individuals to answer:</p>
				<p class = "quote">"When approached with a question or issue, how would most people respond?"</p>
				<p>I realized from an early age that I wasn't interested in games like these—I wanted to go beyond understanding the motivations behind the obvious. I want to <strong><em>spearhead</strong></em> creative solutions that can solve the problems of the present and the future, <strong><em>drive</strong></em> these initiatives from start to finish, and <strong><em>reflect</strong></em> on my work throughout the development process.
				<p>In short, I'm continually challenging myself to answer the following:</p>
				<p class = "quote">"How can I anticipate upcoming trends and use them to solve to real-world problems?"</p>
				<p>I've spent the past few years cultivating that creative energy into a more streamlined, systematic approach and I'm ready to apply myself to my next calling.</p>
				<p>Let's connect,</p>
				<p>S. Iris<p>
			</div>
		</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "aboutme/js/bootstrap.min.js"}"></script>
	</body>

</html>